.voice-container {
    display: flex;
    justify-content: center;
    margin-top: 16em;
}

.voice-title-container {
    background-color: #219ebc;
    width: 10em;
    height: 2em;
    border-radius: 0.4em ;
    display: flex;
    justify-content: center;
    align-items: center;
}